

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: antiquewhite;
}

.tituloPrincipal {
    font-size: 60px;
    color: #000;
    font-family: Open+Sans:ital;
    text-align: center;
}

.subTitulo {
    color: #000;
    font-family: Open+Sans:ital;
    margin-left: 150px;
}

.textoP {
    grid-template-columns: span 1;
    margin-left: 150px;
    margin-right: 150px;
    white-space: 600px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    color: #000;
    text-align: justify;
}

.imagenTienda {
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.Img-Item{
    border: 2px solid brown;
    display: flex;
    position: relative;
    width: 550px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 20px;
}

.Img-Item:hover {
    opacity: 0.7;
}

.ImgAlinear{
    width: 550px;
    height: 450px;
    object-fit: cover; /* Ajusta la img al contenedor*/
}


.imgdetalle{
    background-color: chocolate;
    position: absolute;
    bottom: -100%;
    width: 100%;
    max-height: 50%;
    transition: bottom 1s;
}

.Img-Item:hover .imgdetalle{
    bottom: 0;
}

.imgtex {
    text-align: center;
}

.ubicacion {
    display: flex;
    width: 550px;
    height: 450px;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
}

iframe{
    width: 80%;
    height: 300px;
    border: 2px solid brown;
}


@media (max-width: 900px) {
    .imagenTienda {
        flex-direction: column;
        align-items: center;
    }

    .ImgAlinear{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 752px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: antiquewhite;
    }
    

    .imagenTienda {
        flex-direction: column;
        align-items: center;
    }

    .ImgAlinear{
        width: 350px;
        height: 250px;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .Img-Item{
        border: 1px solid brown;
        display: flex;
        position: relative;
        width: 350px;
        height: 250px;
        overflow: hidden;
        border-radius: 20px;
    }

}