body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenido1, .contenido2 {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 45%; /* Ajuste del ancho */
    margin: 20px; /* Margen entre los contenidos */
    display: inline-block; /* Para que estén uno al lado del otro */
    vertical-align: top; /* Alineación superior */
}

.contenido1 h2, .contenido2 h2 {
    margin-top: 0;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 40px;
}

.gallery img {
    width: 800px; /* Tamaño ajustado */
    height: 800px;
}
#contacto-formulario {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contacto-formulario h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#contacto-formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#contacto-formulario form div {
    display: flex;
    flex-direction: column;
}

#contacto-formulario form label {
    margin-bottom: 5px;
    color: #333;
}

#contacto-formulario form input[type="text"],
#contacto-formulario form input[type="email"],
#contacto-formulario form input[type="tel"],
#contacto-formulario form textarea,
#contacto-formulario form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#contacto-formulario form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#contacto-formulario form input[type="submit"]:hover {
    background-color: #0056b3;
}