*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

/* Estilos para contenido1 y contenido2 */
.contenedor-sections {
    display: flex; /* Utilizar flexbox para igualar la altura de los sections */
}

.contenido1, .contenido2 {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px); /* Ajuste del ancho con margen entre ellos */
    margin: 10px; /* Margen entre los contenidos */
    box-sizing: border-box; /* Incluye el padding en el ancho */
}

.gallery {
    display: flex;
    justify-content: center; /* Centrar las imágenes horizontalmente */
    gap: 16px; /* Espacio entre las imágenes */
    max-width: 100%; /* Ajustar al ancho del navegador */
    overflow-x: auto; /* Agregar desplazamiento horizontal si es necesario */
    padding: 20px 0; /* Ajuste de padding */
}

.gallery img {
    max-width: 460px; /* Ajustar el ancho máximo de las imágenes */
    height: auto; /* Mantener la proporción */
    border-radius: 8px; /* Puntas redondas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    flex-shrink: 0; /* Evitar que las imágenes se reduzcan más de lo especificado */
}

/* Estilos para formulario de contacto */
#contacto-formulario {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e0e0; /* Color de fondo gris más oscuro */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contacto-formulario h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#contacto-formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#contacto-formulario form div {
    display: flex;
    flex-direction: column;
}

#contacto-formulario form label {
    margin-bottom: 5px;
    color: #333;
}

#contacto-formulario form input[type="text"],
#contacto-formulario form input[type="email"],
#contacto-formulario form input[type="tel"],
#contacto-formulario form textarea,
#contacto-formulario form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#contacto-formulario form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#contacto-formulario form input[type="submit"]:hover {
    background-color: #0056b3;
}
